.mat-mdc-form-field {
  font-size: 14px;
  width: 25%;
  margin-top: 22px;
}
.mat-toolbar{
  margin-top: 1rem;

}
.add-user-info{
  width: 3rem;
}

.content-toolbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}