<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="grid grid-cols-2 md:grid-cols-2 p-4">
    <div>
      <span (click)="toggleSide($event)"
        class="material-symbols-outlined text-5xl text-white-900 dark:text-white cursor-pointer">
        list
      </span>
    </div>



    <div class="flex items-center justify-end gap-4 mr-4">
      <div>
        <button mat-mini-fab aria-label="Example icon button with a menu icon" class="text-white">
          <span class="material-symbols-outlined text-white cursor-pointer">
            nightlight
          </span>
        </button>
      </div>
      <div>
        <button mat-mini-fab aria-label="Example icon button with a menu icon" class="text-white" mat-button
          [matMenuTriggerFor]="mailMenu">
          <span class="material-symbols-outlined text-white cursor-pointer">
            mail
          </span>
        </button>

        <mat-menu #mailMenu="matMenu">
          <p>ali</p>
          <p>ali</p>
          <p>ali</p>
        </mat-menu>
      </div>
      <div>
        <button mat-mini-fab aria-label="Example icon button with a menu icon" mat-button
          [matMenuTriggerFor]="notifiMenu">
          <span class="material-symbols-outlined text-white cursor-pointer">
            notifications
          </span>
        </button>

        <mat-menu #notifiMenu="matMenu">
          <p>ali</p>
          <p>ali</p>
          <p>ali</p>
        </mat-menu>
      </div>
      <div class="text-white border-solid border-2 border-sky-500 p-3 rounded-md">
        {{ date | date: 'short' }}

      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          <div class="flex">
            <img [src]="showLng.flag" alt="{{ showLng.name }}" class="flag-icon" />
            <strong class="text-white">{{ showLng.name }}</strong>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          @for (lng of languages; track $index) {
          <div mat-menu-item class="flex justify-center items-center gap-2" (click)="selectedCountry(lng)">
            <div class="flex justify-center items-center">
              <img [src]="lng.flag" alt="{{ lng.name }} " class="flag-icon" />
              {{ lng.name }}
            </div>
          </div>

          }
        </mat-menu>
      </div>

      <img id="avatarButton" type="button" class="w-10 h-10 rounded-full cursor-pointer" src="assets/images/ali.jpg"
        alt="User dropdown" [matMenuTriggerFor]="user" />

      <!-- Dropdown menu -->
      <mat-menu #user="matMenu" class="w-56">
        <div class="flex-col">
          <div class="flex items-center  gap-4 p-5">
            <img class="w-10 h-10 rounded-full" src="assets/images/ali.jpg" alt="" />
            <div class="font-medium dark:text-black">
              <div>
                {{ username?.firstName }}&nbsp;-{{ username?.lastName }}
              </div>
              <div class="text-sm text-gray-500 dark:text-gray-400">Admin</div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="p-5">
            <p class="hover:text-sky-600 dark:hover:bg-slate-300 cursor-pointer flex items-center rounded-md gap-2 p-2">
              <span class="material-symbols-outlined"> person </span>
              My Profile
            </p>
            <p routerLink="/aliakbar/settings"
              class="hover:text-sky-600 dark:hover:bg-slate-300 cursor-pointer flex items-center rounded-md gap-2 p-2">
              <span class="material-symbols-outlined"> settings </span>
              Setting
            </p>
            <p class="hover:text-sky-600 dark:hover:bg-slate-300 cursor-pointer flex items-center rounded-md gap-2 p-2">
              <span class="material-symbols-outlined"> info </span>
              Support
            </p>
            <p [routerLink]="['/auth/login']"
              class="hover:text-sky-600 dark:hover:bg-slate-300 cursor-pointer flex items-center rounded-md gap-2 p-2">
              <span class="material-symbols-outlined"> logout </span>
              Logout
            </p>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
</nav>