.example-spacer {
  flex: 1 1 auto;
}

.menu_items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-menu {
  display: flex;
  align-items: center;
  height: 3rem;
  cursor: pointer;

  >li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.btn-menu:hover {
  transition: .3s;
  background-color: lightgray;
  border-radius: 25px;
}

.expanded {
  width: 12rem;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 90vh;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;

  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

.still-icon{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;

}
// Move the content down so that it won't be hidden by the toolbar




.flag-icon {
  width: 20px;
  height: 15px;
  margin-right: 8px;
}

.flag-icon svg {
  width: 100%;
  height: auto;
}