.add-button {
  width: 46px;
  padding: 5px;
}

.control-buttons {
  margin-bottom: var(--spacing-step);
  display: flex;
  justify-content: flex-end;
}

.control-container {
  display: flex;
  align-items: center;
}

.remove-button {
  width: 50px;
  min-width: 45px;
  margin: 0 0 0 10px;
  background-color: transparent;
  border-color: var(--color-error);
  color: var(--color-error);
}

.phone-label-dropdown {
  margin-right: var(--spacing-step);
  width: 110px;
}

.skill-container {
  display: flex;
  align-items: center;
}

.form-field {
  width: 100%;
  height: 93px;

  &--small {
    max-width: 48%;
  }
}

.form-field-inline-group {
  display: flex;
  justify-content: space-between;
}

.add-button {
  width: 50px;
  padding: 5px;
}

.control-buttons {
  margin-bottom: var(--spacing-step);
  display: flex;
  justify-content: end;
}

.control-container {
  display: flex;
  align-items: center;
}

.remove-button {
  width: 50px;
  margin: 0 0 0 10px;
  background: transparent;
  border-color: var(--color-error);
  color: var(--color-error);

}

.skill-container {}

.ng-valid.ng-dirty:not([formGroupName]):not([formArrayName]):not([ngModelGroup]):not(form):not(paper-textarea) {
  border: 2px solid var(--color-success);
}

.ng-invalid.ng-dirty:not([ngModelGroup="address"]):not([formGroupName="address"]):not([formArrayName]):not(form) {
  border: 2px solid var(--color-error);
}

button[disabled] {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}




// Animation for error message
@keyframes input-message-animation {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@mixin input-message {
  font-size: 12px;
  box-sizing: border-box;
  padding: 2px 13px;
  animation-name: input-message-animation;
  animation-duration: 300ms;
}

.input-error {
  @include input-message();
  color: var(--color-error)
}