<div class=" bg-white rounded-lg shadow w-full p-3">
    <h3 class="p-4">Settings</h3>

    <h4 class="font-semibold">
        Two-Factor Authentication
    </h4>
    <p class="text-gray-400">
        Two-factor authentication is an enhanced security meansur. Once enabled, you'll be required to give two types of
        identification when you log into Google Authentication and SMS are Supported.

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of.
    </p>
    <h4 class="font-semibold">
        Secondary Verification
    </h4>

    <p class="text-gray-400">

        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.

        Backup Codes
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of
        lorem ipsum.
    </p>

    <h4 class="font-semibold">
        Desktop, Email, Chat, Purchase Notifications
    </h4>

    <p class="text-gray-400">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.

        Delete This Account :
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some
        form, by injected humour, or randomised words which don't look even slightly believable.
    </p>
    <div class="flex justify-end gap-3 mt-2">
        <!-- *****CancelBTN***** -->
        <button mat-stroked-button type="button">Cancel</button>
        <!-- *****SaveBTN***** -->
        <button
          mat-flat-button
          data-testid="login-button"
          color="primary"
          type="submit">
          Close & Delete This Account
        </button>
      </div>
</div>