<!-- <p class="element-description">A simple button component.</p>
<div class="showcase">
  <h5>Button Appearance:</h5>
  <div class="state">
    <p>Default button</p>
    <button dfButton>Decoded Frontend</button>
  </div>
  <div class="state">
    <p>Stroked Button</p>
    <button dfButton appearance="stroked">Decoded Frontend</button>
  </div>
  <div class="state">
    <p>Solid Button</p>
    <button dfButton appearance="solid">Decoded Frontend</button>
  </div>
</div>
<div class="showcase">
  <h5>Loading Button:</h5>
  <div class="state">
    <p>Stroked Button</p>
    <button
      (click)="loading = !loading"
      dfButton
      appearance="stroked"
      style="margin-right: 10px;"
    >
      {{ loading ? 'Stop Loading' : 'Start Loading' }}
    </button>
    <button dfButton [loading]="loading">Decoded Frontend</button>
  </div>
</div>
<div class="showcase">
  <h5>Link Button:</h5>
  <div class="state">
    <p>Link Button</p>
    <a href="/" dfButton>🔗 Decoded Frontend</a>
  </div>
</div>
<div class="showcase">
  <h5>Disabled Button:</h5>
  <div class="state">
    <p>Disabled Link Button</p>
    <a href="/" [disabled]="true" dfButton>🔗 Decoded Frontend</a>
  </div>
  <div class="state">
    <p>Disabled Button</p>
    <button href="/" [disabled]="true" dfButton>Decoded Frontend</button>
  </div>
</div> -->

<!-- <p class="element-description">Chip Component</p>
<div class="showcase">
  <h5>Chip Variants:</h5>
  <div class="state">
    <p>Default Chip</p>
    <app-chip value="angular">Angular</app-chip>
  </div>
  <div class="state">
    <p>Removable Chip</p>
    <app-chip value="reactjs" (removed)="onRemove($event)" [removable]="true"
      >ReactJS</app-chip
    >
  </div>
</div> -->

<!-- <p class="element-description">
  This directives allow to copy text of any element
</p>
<div class="showcase">
  <h5>Should copy text provided:</h5>
  <div class="state">
    <button
      dfCanCopyToClipboard
      #clipboard="dfClipboard"
      text="https://localhost/demo/product/1"
      dfButton
    >
      {{ (clipboard.copied$ | async) ? 'Copied' : 'Share Product Link' }}
    </button>
    <button
      dfButton
      appearance="stroked"
      style="margin-left: 12px"
      (click)="clipboard.clear()"
    >
      Reset Selection
    </button>
  </div>
</div>
<div class="showcase">
  <h5>Should copy element content if not text provided:</h5>
  <div class="state">
    <button dfCanCopyToClipboard #clipboard2="dfClipboard" dfButton>
      This text should be copied on click
    </button>
    <span class="copied-text" *ngIf="clipboard2.copied$ | async"
      >Text Copied...</span
    >
  </div>
</div>
<div class="showcase">
  <h5>Should copy selected text in textarea:</h5>
  <div class="state">
    <input
      dfCanCopyToClipboard
      #clipboard3="dfClipboard"
      value="Click to copy it to clipboard ..."
    />
    <span class="copied-text" *ngIf="clipboard3.copied$ | async"
      >Text Copied...</span
    >
  </div>
</div> -->

<!-- <p class="element-description">
  It is a <b>Structural Directive</b> which removes view after some period
  of time and replaces with an alternative view.
</p>
<div class="showcase">
  <h5>Should hide banner after 5 seconds and alt view:</h5>
  <div class="state">
    <div
    class="banner"
    *hideAfter="12000; then altBanner; let counter = counter"
    >
    This Banner will be removed in
    <span class="counter">{{ counter }}</span> seconds...
    <h5>Should hide banner after {{counter}} seconds and alt view:</h5>
  </div>
    <ng-template #altBanner>
      <div class="alt-banner">Here was a banner...</div>
    </ng-template>
  </div>
</div> -->

<!-- <p class="element-description">
  Directive that can disable interactive (focusable) elements and prevents
  click events on it
</p>
<div class="showcase">
  <h5>Disabled Links & Buttons</h5>
  <div class="state">
    <p>Prevent default behavior on click if disabled</p>
    <button
      (click)="disabled = !disabled"
      dfButton
      appearance="stroked"
      style="margin-right: 15px;"
    >
      {{ disabled ? 'Enable' : 'Disable' }}
    </button>
    <a href="/interaction-switcher" dfCanDisable [disabled]="disabled"
      >Disabled Link</a
    >
  </div>
</div> -->

<!-- <app-item-card [tags]="tags" [item]="product" /> -->

<!-- <p class="element-description">
  This is pipe which takes a product id and returns the link to the product
  as a string
</p>
<div class="showcase">
  <h5>Type product ID in the input...</h5>
  <div class="state">
    <label>
      Product Id:
      <input [(ngModel)]="productId" type="text" />
    </label>
    <p style="margin-top: 10px;">
      Product URL: <b>{{ productId | productUrl }}</b>
    </p>
  </div>
</div> -->

<!-- <list-item-demo /> -->
<generic-tab [tabs]="tabs" (selectedIndexChange)="handleTabChange($event)">
  <ng-template #templateOne let-data="data">
    <!-- <app-rating-picker-page/> -->
    <!-- <app-select></app-select> -->
    <app-users />

  </ng-template>

  <ng-template #templateTwo let-data="data">
    <!-- <app-chip value="reactjs" (removed)="onRemove($event)" [removable]="true"
      >ReactJS</app-chip> -->
  </ng-template>
  <ng-template #templateThree let-data="data">
    <app-chip value="reactjs" (removed)="onRemove($event)" [removable]="true"
      >ReactJS</app-chip>
  </ng-template>
  <ng-template #templatefour let-data="data">
    <app-chip value="reactjs" (removed)="onRemove($event)" [removable]="true"
      >ReactJS</app-chip>
  </ng-template>
</generic-tab>
