<div class="w-full bg-white rounded-lg p-3">
  <h3 class="p-4">Change Password</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <!-- *****Old Password***** -->
        <mat-form-field data-testing="oldPassword" appearance="outline" class="w-full">
          <mat-label>oldPassword</mat-label>
          <div class="flex">
            <span class="material-symbols-outlined -ml-6 text-gray-500">
              lock
            </span>
            <input type="oldPassword" matInput [errorStateMatcher]="matcher" formControlName="oldPassword"
              [type]="hideOldPassword ? 'password' : 'text'" placeholder="Enter old password" />
            <span class="material-symbols-outlined cursor-pointer text-gray-500 mr-2" matSuffix
              (click)="hideOldPassword = !hideOldPassword">
              {{hideOldPassword ? 'visibility_off' : 'visibility'}}
            </span>
          </div>

          <!-- Error handling -->
          <mat-error *ngIf="form.controls.oldPassword.hasError('required')">oldPassword is
            <strong>required</strong></mat-error>
          <mat-error *ngIf="form.controls.oldPassword.hasError('minlength')">oldPassword is too short
            <strong>{{
              form.controls.oldPassword.getError('minlength')?.requiredLength
              }}</strong></mat-error>

        </mat-form-field>
      </div>
      <div>
        <!-- *****New Password***** -->
        <mat-form-field data-testing="newPassword" appearance="outline" class="w-full">
          <mat-label>newPassword</mat-label>

          <div class="flex">
            <span class="material-symbols-outlined -ml-6 text-gray-500">
              lock
            </span>
            <input type="newPassword" matInput [errorStateMatcher]="matcher" formControlName="newPassword"
              placeholder="enter new password" [type]="hidenewPassword ? 'password' : 'text'" />

            <span class="material-symbols-outlined cursor-pointer text-gray-500 mr-2" matSuffix
              (click)="hidenewPassword = !hidenewPassword">
              {{hidenewPassword ? 'visibility_off' : 'visibility'}}
            </span>
          </div>

          <!-- Error handling -->
          <mat-error *ngIf="form.controls.newPassword.hasError('required')">newPassword is
            <strong>required</strong></mat-error>
          <mat-error *ngIf="form.controls.newPassword.hasError('minlength')">newPassword is too short
            <strong>{{
              form.controls.newPassword.getError('minlength')?.requiredLength
              }}</strong></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <!-- *****Confirm Password***** -->
      <mat-form-field data-testing="confirmPassword" appearance="outline" class="w-full">
        <mat-label>confirmPassword</mat-label>
        <div class="flex">
          <span class="material-symbols-outlined -ml-6 text-gray-500">
            lock
          </span>
          <input type="confirmPassword" matInput [errorStateMatcher]="matcher" formControlName="confirmPassword"
            placeholder="enter confirm password" [type]="hideconfirmPassword ? 'password' : 'text'" />
          <span class="material-symbols-outlined cursor-pointer text-gray-500 mr-2" matSuffix
            (click)="hideconfirmPassword = !hideconfirmPassword">
            {{hideconfirmPassword ? 'visibility_off' : 'visibility'}}
          </span>
        </div>

        <!-- Error handling -->
        <mat-error *ngIf="form.controls.confirmPassword.hasError('required')">confirmPassword is
          <strong>required</strong></mat-error>
        <mat-error *ngIf="form.controls.confirmPassword.hasError('minlength')">confirmPassword is too short
          <strong>{{
            form.controls.confirmPassword.getError('minlength')?.requiredLength
            }}</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="md:flex md:justify-end  mt-2">
      <button class="md:w-1/4 w-full" data-testid="login-button" mat-raised-button color="primary" type="submit"
        [disabled]="!form.valid">
        Sign up
      </button>
    </div>
  </form>
</div>
<div class=" w-full bg-white rounded-xl shadow-md  mt-2">
  <div class="p-4 ">
    <h3>Login History</h3>
    <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">IGoogle Pixel 7
      Pro</a>
    <div class="flex justify-between">
      <p class="mt-3 text-slate-500">Los Angeles, United States - March 16 at 2:47 PM</p>
      <a class="cursor-pointer">Log out</a>
    </div>
    <p class="mt-2 text-gray-400">54 mins ago
    </p>
    <mat-divider></mat-divider>
  </div>
  <div class="p-4 ">
    <h3>Login History</h3>
    <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">IGoogle Pixel 7
      Pro</a>
    <div class="flex justify-between">
      <p class="mt-3 text-slate-500">Los Angeles, United States - March 16 at 2:47 PM</p>
      <a class="cursor-pointer">Log out</a>
    </div>
    <p class="mt-2 text-gray-400">54 mins ago
    </p>
  </div>
</div>